<% provide(:title, @user.username) %>
<div class="container">
  <div class="inner-940">
    <div class="row-fluid">
      <div class="span2">
      <h4 class="username"><%= @user.username %> </h4>
  	   <li><%= link_to "Home", root_path %></li>
       <% if current_user = user %>
       <li><%= link_to "Escribir algo nuevo", new_post_path %></li>
       <% end %>
      </div>
      <div class="span10">
      <% if @user.posts.any? %>
        <h4>Escritos</h4>
              <%= render template: "posts/index" %>
      <% else %>
      <h3>Aún no existen escritos de esta persona</h3>
      <% end %>
      </div>
    </div>
  </div>
</div>