<% if not user_signed_in? %>
	<header>
	<div class="hero-unit">
		<div class="logo">
			<a href="/">
				<img src="images/caferevwhite.png" width="612" height="594">
			</a>
		</div>
	</div>
	</header>

	<section id="front">
		<section class="front-wrapper">
			<h1>Acerca de Café Revolución</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vel pulvinar dolor, at ullamcorper massa. Aenean auctor ipsum eget orci ornare, quis tempus sapien lacinia. Praesent eu diam mi. Nam vel dolor est. Sed risus lorem, mollis eget tristique at, malesuada sed arcu. Etiam laoreet nunc lectus, sed facilisis eros rutrum vitae.</p>
		</section>
	</section>
	<section id="front">
		<section class="front-wrapper">
			<h1>Acerca de Café Revolución</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vel pulvinar dolor, at ullamcorper massa. Aenean auctor ipsum eget orci ornare, quis tempus sapien lacinia. Praesent eu diam mi. Nam vel dolor est. Sed risus lorem, mollis eget tristique at, malesuada sed arcu. Etiam laoreet nunc lectus, sed facilisis eros rutrum vitae.</p>
		</section>
	</section>
	<section id="front">
		<section class="front-wrapper">
			<h1>Acerca de Café Revolución</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vel pulvinar dolor, at ullamcorper massa. Aenean auctor ipsum eget orci ornare, quis tempus sapien lacinia. Praesent eu diam mi. Nam vel dolor est. Sed risus lorem, mollis eget tristique at, malesuada sed arcu. Etiam laoreet nunc lectus, sed facilisis eros rutrum vitae.</p>
		</section>
	</section>
	<section id="front">
		<section class="front-wrapper">
			<h1>Acerca de Café Revolución</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vel pulvinar dolor, at ullamcorper massa. Aenean auctor ipsum eget orci ornare, quis tempus sapien lacinia. Praesent eu diam mi. Nam vel dolor est. Sed risus lorem, mollis eget tristique at, malesuada sed arcu. Etiam laoreet nunc lectus, sed facilisis eros rutrum vitae.</p>
		</section>
	</section>
	<section id="front">
		<section class="front-wrapper">
			<h1>Acerca de Café Revolución</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vel pulvinar dolor, at ullamcorper massa. Aenean auctor ipsum eget orci ornare, quis tempus sapien lacinia. Praesent eu diam mi. Nam vel dolor est. Sed risus lorem, mollis eget tristique at, malesuada sed arcu. Etiam laoreet nunc lectus, sed facilisis eros rutrum vitae.</p>
		</section>
	</section>
	<section id="about">
		<section class="front-wrapper">
			<h1>Acerca de Café Revolución</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vel pulvinar dolor, at ullamcorper massa. Aenean auctor ipsum eget orci ornare, quis tempus sapien lacinia. Praesent eu diam mi. Nam vel dolor est. Sed risus lorem, mollis eget tristique at, malesuada sed arcu. Etiam laoreet nunc lectus, sed facilisis eros rutrum vitae.</p>
		</section>
	</section>
<% else %>
<section>These are the people you follow with their posts</section>
<% end %>