<header>
<div class="hero-unit">
	<div class="logo">
		<a href="/">
			<img src="images/caferevwhite.png" width="612" height="594">
		</a>
	</div>
</div>
</header>
<section id="about">
	<h1>Acerca de Café Revolución</h1>
</section>